<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Urban Garden - Homepage</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Google Web Font -->
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Custom CSS-->
	<link href="css/urban_styles_new.css" rel="stylesheet" />
</head>

<body id="home">
	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	<!-- NavBar-->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Urban Garden</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav-lang navbar-right">
					<li class="lang_text">
						<a href="#" class="active">Tiếng Việt</a>
						<a href="#">English</a>
					</li>
					<li>
						<a href="#" class="btn btn-primary">Hello, Chippy</a>
					</li>
					<li>
						<a href="#" class="btn btn_cart">Cart</a>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="menuItem" data-menuanchor="product_page"><a href="#product_page">Our products</a></li>
					<li class="menuItem" data-menuanchor="outlet_page"><a href="#outlet_page">Outlet store</a></li>
					<li class="menuItem" data-menuanchor="showroom_page"><a href="#showroom_page">Showroom</a></li>
					<li class="menuItem" data-menuanchor="premier_page"><a href="#premier_page">LQ Premier</a></li>
					<li class="menuItem" data-menuanchor="stories_page"><a href="#stories_page">Stories</a></li>
					<li class="menuItem"><a href="#">Design Blog</a></li>
					<li class="menuItem" data-menuanchor="contact_page"><a href="#contact_page">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="homepage_wrapper">
		<!-- FullScreen -->
		<div id="section0" class="intro-header section section-0">
			<div class="col-xs-12 text-center intro_textholder">
				<h1 class="h1_home animated zoomIn">TO TOUCH THE EARTH</h1>
				<h2 class="h2_home animated zoomIn">IS TO HAVE HARMONY WITH</h2>
				<h3 class="h3_home animated zoomIn">NATURE</h3>
			</div>
		</div>
		<!-- Section 1 -->
		<div id="section1" class="section section-1">
			<div class="slide" id="slide1" data-name="EVER BAMBOO" style="background-image: url(img/section1_bg.jpg);">
				<h1>
					Ever bamboo
					<p class="descp">Lorem ipsum dolor sit amet, consadipiscing elit, sed do eiusmod teincididuntut labore et dolore ma enim ad minim ve.</p>
					<p><a href='#' class="btn btn-primary">Discover more</a></p>
				</h1>
			</div>
			<div class="slide" id="slide2" data-name="EVER ARTBOARD" style="background-image: url(img/section1_bg.jpg);">
				<h1>
					Ever bamboo
					<p class="descp">Lorem ipsum dolor sit amet, consadipiscing elit, sed do eiusmod teincididuntut labore et dolore ma enim ad minim ve.</p>
					<p><a href='#' class="btn btn-primary">Discover more</a></p>
				</h1>
			</div>
			<div class="slide" id="slide3" data-name="EVER ARTWOOD" style="background-image: url(img/table-white-home-interior.jpg);">
				<h1>
					Ever bamboo
					<p class="descp">Lorem ipsum dolor sit amet, consadipiscing elit, sed do eiusmod teincididuntut labore et dolore ma enim ad minim ve.</p>
					<p><a href='#' class="btn btn-primary">Discover more</a></p>
				</h1>
			</div>

			<div class="slide" id="slide4" data-name="LQ FURNITURE" style="background-image: url('img/wood-village-house-grass.jpg');">
				<h1>
					A great single slider!
					<p class="descp">Lorem ipsum dolor sit amet, consadipiscing elit, sed do eiusmod teincididuntut labore et dolore ma enim ad minim ve.</p>
					<p><a href='#' class="btn btn-primary">Discover more</a></p>
				</h1>
			</div>
		</div>
		<!-- Section 2 -->
		<div id="section2" class="section section-2">
			<div class="container">
				<h1 class="headtext_1">
					Outlet store
					<p class="descp">Lorem ipsum dolor sit amet, consadipiscing elit, sed do eiusmod teincididuntut labore et dolore ma enim ad minim ve.</p>
					<p><a href='#' class="btn btn-primary">Shop all</a></p>
					<span class="product_img fadeInDown"><img src="img/product_img1.png" /></span>
				</h1>
				<h2>
					<a href='#'>FURNITURE</a>
					<span>ACCESSORIES</span>
					<span>CLEARANCE</span>
				</h2>
			</div>
		</div>
		<!-- Section 3 -->
		<div id="section3" class="section section-3">
			<div class="container">
				<h1 class="fadeInUp">
					<span>VIRTUAL</span>SHOWROOM
					<p class="descp">Lorem ipsum dolor sit amet, consadipiscing elit, sed do eiusmod te incididuntut labore et dolore ma enim ad minim ve.</p>
					<p><a href='#' class="btn btn-primary">Discover more</a></p>
				</h1>
			</div>
		</div>
		<!-- Section 5 -->
		<div id="section4" class="section section-4">
			<div class="container">
				<h1 class="bounceInUp">
					<span>Urban Garden</span>Premier
					<p><a href='#' class="btn btn-default btn-lg">Be a premier</a></p>
				</h1>
			</div>
		</div>
		<!-- Section 5 -->
		<div id="section5" class="section section-5">
			<div class="section_colphoto">
				<div class="photo_col fadeInUp" style="background-image: url(img/photo1.jpg);">
					<p>
						<img src="img/logopn_lq.png" />
					</p>
				</div>
				<div class="photo_col fadeInDown" style="background-image: url(img/photo2.jpg);">
					<p>
						<img src="img/logopn_takasho.png" />
					</p>
				</div>
			</div>
			<div class="container section5_content">
				<h1>
					Our stories
					<p class="descp">
						Lorem ipsum dolor sit amet, cons
						adipiscing elit, sed do eiusmod te
						incididuntut labore et dolore ma
						Ut enim...
					</p>
					<p>
						<a href="#" class="btn btn-primary">Discover more</a>
					</p>
				</h1>
			</div>
		</div>
		<div id="section6" class="section section-6 fp-auto-height">
			<footer style="height: 400px; padding-top:30px">
				<div class="container">
					<div class="row">
						<div class="col-sm-2 col-xs-12 footer_brand">
							<a href='index.html'><img src="img/urbangarden_logo.png"></a>
						</div>
						<div class="col-sm-4 col-xs-4 footer_col footer_link col-sm-offset-1 col-xs-offset-2">
							<p>Home</p>
							<ul>
								<li><a href='#'>OUR PRODUCTS</a></li>
								<li><a href='#'>OUTLET STORE</a></li>
								<li><a href='#'>VIRTUAL SHOWROOM</a></li>
								<li><a href="#">LQ PREMIER</a></li>
								<li><a href='#'>OUR STORIES</a></li>
								<li><a href='#'>DESIGN BLOG</a></li>
							</ul>
						</div>
						<div class="col-sm-5 col-xs-6 footer_col">
							<p>Contact</p>
							<ul>
								<li><a href='#'>MAPS</a></li>
								<li>71 Xuan Thuy, Dist 2, HCM</li>
								<li>(08) 628 196 86</li>
								<li><a href="#" mailto:"hello@urbangarden.com">hello@urbangarden.com</a></li>
							</ul>
						</div>
					</div>
					<div class="copyright_text">
						URBAN GARDEN
						<span>Copyright 2016</span>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!-- JavaScript -->
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fullPage.js"></script>
	<script src="js/script.js"></script>
	<script type="text/javascript">
		function sliderPanelSize() {
			$( ".fp-slidesNav li a span" ).css({
					"height": $(window).height(),
					"width": $(window).height()
				});
		}
		$(window).on("load", sliderPanelSize);
		$(window).on("resize", sliderPanelSize);

		// Fullpage
		$('#homepage_wrapper').fullpage({
			anchors: ['home_page','product_page', 'outlet_page', 'showroom_page', 'premier_page', 'stories_page','contact_page'],
			menu: '.navbar-nav',
			fitToSection: false,
			navigation: true,
			navigationPosition: 'right',
			slidesNavigation: true,
			slidesNavPosition: "right",
			controlArrows: true,
			afterRender: function () {
		        //on page load, start the slideshow
		         slideTimeout = setInterval(function () {
		                $.fn.fullpage.moveSlideRight();
		            }, 8000);
		    },
		    onLeave: function (index, direction) {
		        //after leaving section 1 (home) and going anywhere else, whether scrolling down to next section or clicking a nav link, this SHOULD stop the slideshow and allow you to navigate the site...but it does not
		        if (index == '3') {
		            console.log('on leaving the slideshow/section3');
		            clearInterval(slideTimeout);
		        }
		   },
			afterLoad: function(anchorLink, index){
					if(index == 3){
						$('.fadeInDown').addClass('animated');
					}
					if(index == 4){
						$('.fadeInUp').addClass('animated');
					}
					if(index == 5){
						$('.bounceInUp').addClass('animated');
					}
					if(index == 6){
						$('.fadeInUp , .fadeInDown').addClass('animated');
					}
				}
		});
	</script>
	<!-- <script src="js/jquery.slimscroll.min.js"></script> -->
</body>

</html>
