// Vairables
@alink: #8fc549;
@ahover: #80b937;
@primary_color:#8fc549;
@primary_color_hover: #5DA106;
@base-fontsize:10;
@base-fontsize-smartphone:@base-fontsize - 4;
@default_txtcolor:#555;

// Responsive
@widedesktop: ~"only screen and (min-width:1200px)";
@desktop: ~"only screen and (min-width:992px)";
@tablet: ~"only screen and (min-width:768px)";
@smartphones: ~"only screen and (max-width: 767px)";
@smallphones: ~"only screen and (min-width: 320px) and (max-width: 480px)";

// Mixins
.fontsize( @value, @customsize: @base-fontsize) {
	font-size: (@value / @customsize) + 0em;
}
.fontlhsize( @value, @base-fontsize ){
	@emsize:(@value / @base-fontsize);
	@lineHeight:(@emsize * 1.2);
	font-size: ~"@{emsize}em";
	line-height: ~"@{lineHeight}em";
}
.fontawesome{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Import css
@import (less) "style.css";
@import (less) "jquery.fullPage.css";

// General
// ------------------------------------
body,html {
	height: 100%;
	width: 100%;
}
body {
	font-size: ~"@{base-fontsize}px";
	font-family: "Lato", Helvetica, Arial, sans-serif;
	line-height: 1.72222;
	color: @default_txtcolor;
	background-color: #fbfbfb;
	overflow-x: hidden;
	@media @smartphones {
		font-size: @base-fontsize - 4px;
	}
}
::-moz-selection {
	background: @primary_color;
	color: white
}
::selection {
	background: @primary_color;
	color: white
}
a {
  color: @alink;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: @ahover;
  text-decoration: none;
}
a:focus {
  outline: none;
}

/* Preloader */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/status.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

// container
.container{
	width: auto;
	@media @widedesktop{
		max-width: 124.9em;
		min-width: 110em;
	}
}


/* Nav */
.navbar {
	min-height: 60px;
	width: 100%;
	z-index: 999;
	left:0;
	top:0;
	margin-bottom: 0;
	border-radius: 0;
	text-align: center;
	margin-top: 36px;
	.container{position: relative;width: auto;}
}
.navbar-nav > li > a{
	font-size: 1.3em;
	line-height: 16px;
	font-weight: 700;
	padding: 17px 10px;
}
.nav-lang{
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 0;
	padding: 0;
	li{float: left;}
	.btn{
		padding: 17px 15px;
		line-height: 16px;
		white-space: nowrap;
		overflow:hidden;
		max-width: 150px;
		text-overflow:ellipsis;
	}
	.btn_cart{
		color: @default_txtcolor;
		background-color: #fff;
		@media @smartphones{
			background-color: #eee;
		}
	}
	.lang_text {
		padding-right: 15px;
		padding-top: 6px;
		text-align: right;
		a{
			color: #fff;
			&:hover,&.active{color: @ahover;}
		}
		a.active{color:@primary_color;}
	}
}
.navbar-brand {
	background-position: center;
	background-size:100%;
	display: block;
	background-repeat: no-repeat;
	text-indent: -99999em;
	padding: 0;
}
@media @smartphones, @smallphones,@tablet {
	.navbar>.container .navbar-brand {
		width: 66px;
		height: 50px;
		margin-right: 15px;
		top: 0;
		margin-left: 0;
		background-image: url(../img/small_logo.png);
	 }
}
@media @tablet {
	.navbar-nav{
		float: right;
	}
	.nav-lang{
		float: right;
		margin: 0;
		li.lang_text{
			position: absolute;
			top: -25px;
			right: 0;
			a{
				margin-left: 10px;
				display: inline;
			}
		}
	}
}
@media @desktop {
	.navbar>.container .navbar-brand {
		position: absolute;
		top: -20px;
		z-index: 1;
		background-image: url(../img/urbangarden_logo.png);
		width: 127px;
		height: 156px;
	}
	.navbar-fixed-top.navbar-shrink >.container .navbar-brand {
		width: 66px;
		height: 50px;
		top: 0;
		margin-right: 15px;
		background-image: url(../img/small_logo.png);
	}
	nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink {
		margin-top: 20px;
	}
	.fp-auto-height.fp-section,
	.fp-auto-height .fp-slide,
	.fp-auto-height .fp-tableCell{
		height: auto !important;
	}
}
@media screen and (min-width:768px) and (max-width:1100px){
	.navbar>.container .navbar-brand {
	    width: 66px;
	    height: 50px;
	    margin-right: 15px;
	    top: 0;
	    margin-left: 0;
	    background-image: url(../img/small_logo.png);
	}
	.navbar{margin-top:10px;}
	.navbar-nav{
		float: none;
		clear: both;
		text-align: center;
		width: 100%;
		display: table;
		table-layout: fixed;
		&:before,&:after{display: none;}
		& > li{
			display: table-cell;
			float: none;
		}
		& > li > a{
			padding-left: 4px;
			padding-right:4px;
			font-size: 12px;
		}
	}
	.nav-lang{margin-bottom: 10px;}
	.nav-lang li.lang_text{position: static;}
	.nav-lang li.lang_text a{
		display: block;
	}
}
@media @widedesktop {
	.navbar-nav{
		display: inline-block;
		vertical-align: bottom;
		float: none;
		margin-right: 150px;
	}
	.nav-lang{
		padding-left: 10px;
		position: absolute;
		right: 15px;
		top: 0;
		li.lang_text{
			position: static;
			a{
				display: block;
				margin-left: 0;
				line-height: 20px;
			}
		}
	}
}

@media @smartphones, @smallphones {
	.navbar{
		background-color: rgba(255, 255, 255, 1);
		margin-top: 0;
		.navbar-collapse{max-height: none;}
	}
	.navbar-nav>li>a{
		padding: 15px;
		border-bottom: 1px solid #f8f8f8;
		font-size: 16px;
	}
	.navbar-toggle{
		line-height: 60px;
		height: 60px;
	}
	.navbar>.container .navbar-brand {
		margin-left:15px;
		width: 56px;
	}
	.nav-lang li{
		float: none;
		text-align: center;
		padding: 15px 0;
		border-bottom: 1px solid #f8f8f8;
		&.lang_text{
			text-align: center;
			padding: 15px 0;
			a{
				color: #444;
				margin: 0 20px;
				font-size: 14px;
			}
		}
		.btn{display: block;padding: 15px;max-width: none;}
	}
}

// Animation
// -----------------------------------------------------
@media @desktop {
	.animated {
	  -webkit-animation-duration: 1.2s;
	  animation-duration: 1.2s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}
	// FadeInDown
	@-webkit-keyframes fadeInDown {
	  0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	  }

	  100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	  }
	}
	@keyframes fadeInDown {
	  0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	  }

	  100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	  }
	}
	.fadeInDown{
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
		&.animated {
		  -webkit-animation-name: fadeInDown;
		  animation-name: fadeInDown;
		}
	}

	// FadeInUp
	@-webkit-keyframes fadeInUp {
		0% {
			opacity: 0;
			-webkit-transform: translateY(20px);
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}
	@keyframes fadeInUp {
		0% {
			opacity: 0;
			-webkit-transform: translateY(20px);
			-ms-transform: translateY(20px);
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
	}
	.fadeInUp {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		&.animated{
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}
	}

	// ZoomIn
	@-webkit-keyframes zoomIn {
	  0% {
	    opacity: 0;
	    -webkit-transform: scale(.3);
	    transform: scale(.3);
	  }
	  50% {
	    opacity: .5;
	    -webkit-transform: scale(1.3);
	    transform: scale(1.3);
	  }
	  100% {
	    opacity: 1;
	    -webkit-transform: scale(1);
	    transform: scale(1);
	  }
	}
	@keyframes zoomIn {
		0% {
			opacity: 0;
			-webkit-transform: scale(.3);
			-ms-transform: scale(.3);
			transform: scale(.3);
		}
		50% {
			opacity: .5;
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
		100% {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	.zoomIn {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);

		&.animated {
			-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
		}
	}

	// Bounce In Up
	@keyframes bounceInUp {
		0% {
			opacity: 0;
			-webkit-transform: translateY(2000px);
			-ms-transform: translateY(2000px);
			transform: translateY(2000px);
		}
		50% {
			opacity: 1;
			-webkit-transform: translateY(-55%);
			-ms-transform: translateY(-55%);
			transform: translateY(-55%);
		}
		75% {
			-webkit-transform: translateY(20%);
			-ms-transform: translateY(20%);
			transform: translateY(20%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	.bounceInUp {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
		&.animated{
			-webkit-animation-name: bounceInUp;
			animation-name: bounceInUp;
		}
	}

	// shake
	@-webkit-keyframes shake {
		0%, 100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		10%, 30%, 50%, 70%, 90% {
			-webkit-transform: translateX(-10px);
			transform: translateX(-10px);
		}
		20%, 40%, 60%, 80% {
			-webkit-transform: translateX(10px);
			transform: translateX(10px);
		}
	}
	@keyframes shake {
		0%, 100% {
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}
		10%, 30%, 50%, 70%, 90% {
			-webkit-transform: translateX(-10px);
			-ms-transform: translateX(-10px);
			transform: translateX(-10px);
		}
		20%, 40%, 60%, 80% {
			-webkit-transform: translateX(10px);
			-ms-transform: translateX(10px);
			transform: translateX(10px);
		}
	}
	.shake {
		-webkit-animation-name: shake;
		animation-name: shake;
	}
}

// Homepage
// --------------------------------------------------
.descp{
	font-weight: normal;
	display: block;
	overflow: hidden;
	word-wrap:break-word;
	max-height: 72px;
	font-size: 16px;
	@media @smartphones{
		padding: 0;
		margin: 0 0 10px;
		text-align: center;
	}
}
#fp-nav{
	position: fixed;
	z-index: 900;
	right: 0;
	top: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
	@media @smartphones{display: none;}
	ul,li{
		margin: 0;
		padding: 0;
	}
	li, a{
		display: block;
	}
	li{
		padding: 5px;
	}
	a{
		text-indent: -99999em;
		width: 12px;
		height: 12px;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
		background-color: #fff;
	}
	a:hover,a.active{
		background-color: @alink;
	}
}
.section{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100%;
	@media (max-width:768px){
		.container{
			padding-left: 40px;
			padding-right: 40px;
			padding-top: 100px;
			height: 100%;
		}
	}
	.btn{
		text-transform: uppercase;
		text-shadow:none;
		line-height: 2.4rem;
		&:after{
			content: "\f105";
			margin-left: 10px;
			.fontawesome;
		}
	}
}


/*Intro section*/
.intro-header {
	color: #f8f8f8;
	background-image: url(../img/intro_bg.jpg);
	text-align: center;
	.intro_textholder {
		position: absolute;
		top: 25%;
		background-color: rgba(68,68,68,.4);
		display: block;
		color: #444;
		margin: 0 auto;
		min-width: 138px;
		left: 50%;
		padding: 40px 0;
		transform: translateX(-50%);
		width: auto;
	}
	h1,h2,h3{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		white-space: nowrap;
	}
	h1{
		padding-bottom:15px;
		line-height: .8em;
		.fontsize(60);
		color: #fff;
	}
	h2{
		color: #fff;
		.fontsize(44);
		font-weight: 100;
		position: relative;
		margin-bottom: -1.5em;
		z-index: 1;
		letter-spacing: 0.1px
	}
	h3{
		.fontsize(140);
		font-weight: 900;
		letter-spacing: 5px;
		color: @primary_color;
		small{color: #444;margin: 0 3px;font-weight: 300;font-size: 50%}
	}
}
@media @smartphones {
	.intro-header .intro_textholder{
		left: 0;
		right: 0;
		transform: none;
		max-width: 100%
	}
}

// Section 1
.section-1{
	padding-top: 0;
	.container{
		width: 100%;
		max-width: none;
	}
	.slide{
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		h1{
			position: absolute;
			bottom: 120px;
			left: 0;
			color: #fff;
			.fontsize(60);
			text-transform: uppercase;
			max-width: 45%;
			float: left;
			font-weight: 400;
			padding: 120px 30px 10px 30px;
			background: rgba(143, 197, 73, 0.6);
			p.descp{
				text-transform: none;
				font-weight: normal;
				margin-right: 40%;
			}
		}
	}
}
@media @smartphones {
	.section-1 .slide h1{
		padding: 15px 20px;
		text-align: center;
		width: 100%;
		max-width: none;
		left: 0;
		bottom: 0;
		margin: 0;
		p.descp{
			margin-right: 0;
		}
	}
	.section-1 .fp-slidesNav.right{display: none;}
}

// section 2
div.section-2{
	background-color: #dbdbdb;
	position: relative;
	&:before{
		display: block;
		height: 80px;
		position: absolute;
		width: 100%;
		top: 0;
		content: "";
		background: -moz-linear-gradient(top,  hsla(0,0%,62%,0.5) 0%, hsla(0,0%,62%,0) 100%);
		background: -webkit-linear-gradient(top,  hsla(0,0%,62%,0.5) 0%,hsla(0,0%,62%,0) 100%);
		background: linear-gradient(to bottom,  hsla(0,0%,62%,0.5) 0%,hsla(0,0%,62%,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b39f9f9f', endColorstr='#009f9f9f',GradientType=0 ); /* IE6-9 */
	}
	h1,h2 {
		position: absolute;
		text-transform: uppercase;
	}
	h1{
		.fontsize(80);
		z-index: 1;
		right: 0;
		text-align: right;
		padding-right: 80px;
		width: 55%;
		margin: 0;
		top: 35%;
		p.descp{
			text-transform: none;
			padding-left: 50%;
			position: relative;
		}
		.btn{
			position: relative;
			z-index: 1;
		}
		span{
			margin-top: -20%;
			margin-right: -40px;
			margin-left: -15%;
			display: block;
			img{width: 100%;height: auto;}
		}
	}
	h2{
		font-weight: bold;
		bottom: 27%;
		left: auto;
		z-index: 2;
		font-size: 6.4em;
		text-align: right;
		@media (max-width:992px){
			font-size: 4em;
		}
		span {
			display: block;
			font-size: 80%;
			font-weight: 100;
		}
	}
}

@media @smartphones {
	div.section-2 h1,
	div.section-2 .productphoto_obj,
	div.section-2 h2{
		text-align: center;
		position: static;
		width: auto;
		.fontsize(50);
	}
	div.section-2 h1{
		top: 0;
		padding-right: 0;
	}
	div.section-2 h1 span{
		margin: 0;
	}
	div.section-2 .productphoto_obj img{max-width: 100%;}
	div.section-2 h2 a{
		display: block;
	}
	div.section-2 h2 span{
		display: inline;
		margin: 0 2px;
	}
	div.section-2 h1 p.descp{
		padding-left: 0;
	}
}

// section 3
.section-3{
	background-image: url(../img/section3_bg.jpg);
	h1{
		display: block;
		background-color: rgba(255, 255, 255, .85);
		padding: 120px 30px 50px;
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 50px 0 0;
		max-width: 40%;
		min-width: 500px;
		.fontsize(70);
		span{
			font-weight: 100;
			display: block;
			font-size: 85%;
		}
		p.descp{
			padding-right: 35%;
		}
	}
}

@media @smartphones {
	.section-3 h1{
		margin-right: 0;
		min-width: 0;
		padding-top: 50px;
		padding-bottom: 5px;
		text-align: center;
		left: 0;
		max-width: none;
		font-size: 6em;
		span{
			display: inline;
			font-weight: bold;
			font-size: inherit;
			margin-right: 8px;
		}
	}
	.section-3 h1 p.descp{padding-right: 0;}
}

// Section 4
.section-4{
	background-image: url(../img/section4_bg.jpg);
	h1{
		text-align:center;
		display:block;
		position: absolute;
		width: 100%;
		margin: 0;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		color: #fff;
		text-transform: uppercase;
		line-height: .8em;
		.fontsize(120);
		span{
			display: block;
			font-weight: 300;
		}
		p{padding-top: 15px;}
		.btn-default{
			background-color: #fff;
			color: @alink;
			text-transform: uppercase;
			padding: 18px 24px;
			&:after{
				.fontawesome;
				margin-left: 10px;
				content: "\f105"
			}
		}
	}
}


// section 5
.section-5{
	background-color: #d9d9d9;
	padding-top: 0;
	.fp-tableCell{background-color: #d9d9d9;}
	.section5_content{
		height: 100%;
		position: relative;
	}
	h1{
		text-transform: uppercase;
		width: 32%;
		margin: 0;
		position: absolute;
		top: 30%;
		line-height: .9em;
		.fontsize(80);
		p.descp{
			text-transform: none;
			margin-top: 10px;
		}
	}
}
.section_colphoto{
	width:60%;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}
.photo_col{
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&:nth-child(2){
		right: 0;
		p{
			bottom: auto;
			top: 0;
		}
	}
	p{
		padding: 150px 30px 30px;
		background-color: rgba(255, 255, 255, 0.5);
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		img{
			max-width: 100%;
		}
	}
}
@media only screen and (max-width:1100px){
	.section-5{
		padding-top: 10em;
		h1, .section_colphoto{position: static;height: auto;padding-top: 5%;}
		.photo_col{position: relative;}
		.section5_content{
			height: auto;
			padding-top: 20px;
		}
	}
	.section-5 h1,
	.section-5 .productphoto_obj,
	.section-5 h2{
		text-align: center;
		position: static;
		width: auto;
	}
	.section_colphoto{
		width: auto;
		margin: 0 -5px;
		padding-bottom: 30px;
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	.section_colphoto .photo_col {
		height: 320px;
		margin: 0 5px;
		float: left;
		margin: 0 2%;
		width: 46%;
		p{
			bottom: 0;
			top:auto;
			padding: 15px;
			text-align: center;
		}
	}
}
@media @smartphones{
	.section-5{
		padding-top: 6em;
	}
}

@media @smallphones{
	.section_colphoto .photo_col {
		float:none;
		width: auto;
		margin: 15px 0 0;
	}
}

// section 6
// Footer
.section-6{
	background-color: #4d4d4d;
	border-top:2px solid @primary_color;
	footer{
		background-color: transparent;
		.copyright_text{
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-weight: 700;
			text-align: center;
			padding-top: 2em;
			.fontsize(21);
			span{
				font-weight: 100;
				font-size: 55%;
				display: block;
				text-transform: none;
			}
		}
	}
}
.footer_brand img{width: 80%;}
.footer_col{
	.fontsize(16);
	color: #d2d2d2;
	ul,li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&.footer_link a,p{
		text-transform: uppercase;
	}
	a, p{
		display: block;
		font-weight: 300;
		color: #d2d2d2;
		line-height: 2em;
	}
	a:hover{
		color: @ahover;
		text-decoration: underline;
	}
	p{
		padding-bottom:8px;
		color: #fff;
		.fontsize(12);
	}
	img{
		max-width: 100%;
		height: auto;
	}
}

@media (max-width:992px){
	.footer_brand{display: none;}
	.section-6 .container{padding: 140px 30px;}
	footer{padding-top: 50px;padding-bottom: 50px;}
	footer .footer_col p{text-align: left;}
}
@media @smallphones {
	.section-6 .container{padding: 60px 30px;}
	footer .footer_col{
		float: none;
		width: auto;
		text-align: center;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(255, 255, 255, .1);
		margin-bottom: 15px;
		.fontsize(28);
		&:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	footer .footer_col a,footer .footer_col p{text-align: center;}
}

// Detail
// ---------------
#detail .navbar{
	border-bottom: 1px solid @primary_color;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fbfbfb;
	margin-top: 0;
	@media (min-width:1101px) and (max-width:1200px){
		padding-top: 36px;
	}
	.container .navbar-brand{
		width: 66px;
		height: 50px;
		top: 0;
		margin-right: 15px;
		background-image: url(../img/small_logo.png);
	}
	.nav-lang .lang_text a{
		color: @primary_color;
		&.active{color: #444;}
	}
}
.detail_body{
	margin-top: 136px;
	@media @widedesktop{
		.container{
			padding-right: 110px;
		}
	}
	h3{
		font-weight: 100;
		color: @primary_color;
		text-transform: uppercase;
		font-size: 105px;
		position: absolute;
		pointer-events: none;
		right: -100px;
   	width: 86px;
   	margin-top: 0;
   	display: block;
   	font-size: 0;
   	text-indent: -99999em;
   	background-size: cover;
	}
}
.prodt_gallery_listsmallphoto h3{
	background-image: url(../img/gallery_headingtext.png);
	height: 393px;
}
.product_selectionlist h3{
	background-image: url(../img/customize_headingtext.png);
	height: 528px;
	margin-top: 105px;
	right: -85px;
}
.prodimg_medium{
	margin-bottom: 15px;
	img{
		height:auto;
		width: 100%;
	}
}
.prodimg_smallthumb{
	padding: 0;
	margin: 0 -10px;
	li{
		padding:0 10px 20px;
	}
	a{
		display: block;
		overflow:hidden;
		height: auto;
		background-color: #fff;
		padding: 10px 20px;
		border:1px solid @primary_color;
		&:hover{
			border-color: @primary_color_hover;
			background-color: #e9f0d8;
		}
	}
	img{
		height:auto;
		width: 100%;
	}
}
@media @desktop{
	.prodinfo{padding-left: 182px;}
}

.prodinfo h1{
	color: @primary_color;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 60px;
	padding-bottom: 40px;
	border-bottom: 1px solid @primary_color;
	span{
		color: @default_txtcolor;
		font-size: @base-fontsize + 8px;
		display: block;
		margin-top: 2px;
	}
}

.prodtxtdesc{
	font-size: 16px;
	font-weight: 300;
	.prodtxtdesc_text{
		line-height: 1.4em;
	}
	ul{
		margin: 10px 0;
		padding: 0;
		li{
			margin-left: 30px;
			&:before{
				content: "";
				float: left;
				margin-right: 10px;
				margin-left: -30px;
				background-color: @primary_color;
				border-radius: 100%;
				width: 10px;
				height: 10px;
				margin-top: 8px;
			}
		}
	}
}
.prod_price{
	padding-top: 25px;
	padding-bottom:25px;
	border-bottom:1px solid @primary_color;
	.btn{
		padding: 15px 20px;
		margin-top: 12px;
	}
	.money_price{
		color: @primary_color;
		font-weight: 700;
		font-size: 46px;
		line-height: normal;
		span{
			display: block;
			padding-top: 3px;
			font-size: 32px;
			color: @default_txtcolor;
			font-weight: 300;
			text-decoration: line-through;
		}
	}
}
.product_detail_middle{
	padding-left: 15px;
	padding-right: 15px;
}
.product_gallery_wrapper{
	padding-top: 90px;
	padding-bottom:50px;
	margin-bottom: 40px;
	border-bottom: 1px solid @primary_color;
}
.prodt_gallery_largepic{padding-left: 0;}
.prodt_gallery_listsmallphoto{padding-right: 0;}
.prodt_gallery_largepic span{
	display: block;
	height: 384px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.prodt_gallery_listsmallphoto ul{
	margin:-15px;
	padding: 0;
}
.prodt_gallery_listsmallphoto li{
	float: left;
	width: 50%;
	padding: 0;
	margin: 0;
	a{
		display: block;
		border:1px solid @primary_color;
		height: 108px;
		background-repeat:no-repeat;
		background-position: center center;
		background-size: cover;
		margin: 15px;
	}
}
@media @smartphones{
	.prodt_gallery_listsmallphoto ul{margin: 10px -10px 0;}
	.prodt_gallery_listsmallphoto li a{
		height: 150px;
		margin: 10px;
	}
}
.product_selectionlist h4,
.product_optlist h4{
	font-weight: 300;
	color: @primary_color;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 0.8235em;
	@media @desktop{
		font-size: 2.4em;
	}
	@media @widedesktop{
		font-size: 3.2em;
	}
}
.product_optlist{
	.row{
		padding-bottom: 40px;
	}
	@media @tablet{
		.leftlist{
			padding-right: 10px;
		}
		.rightlist{
			padding-left: 10px;
		}
	}
	& > .row > div > p{
		font-weight: 300;
		margin-bottom: 5px;
		padding-bottom: 0;
	}
	ul,li{
		margin: 0;
		padding: 0;
	}
	ul{
		margin: 0 -2px;
		@media @smartphones{
			margin-bottom: 10px;
		}
		&:after{
			content: "";
			display: block;
			clear: both;
		}
	}
	li{
		float: left;
		width: 20%;
		padding: 2px;
		position: relative;
	}
	li img{
		width: 100%;
		height: 35px;
	}
	li .previewbox{
		position: absolute;
		width: 342px;
		height: 327px;
		background-image: url(../img/thumb_preview_box.png);
		background-size: 342px 327px;
		z-index: 2;
		left: 100%;
    	bottom: 100%;
    	display: none;
    	span{
    		display: block;
    		width: 270px;
    		height: 270px;
    		background-color: #fff;
    		float: right;
    		background-position: center center;
    		background-repeat: no-repeat;
    		background-size: 80% auto;
    	}
	}
	li:hover .previewbox{display: block;}
}
.product_selectionlist{
	@media (min-width:768px){padding-left: 42px;}
	h4{margin-bottom: 22px;}
	ul,li{
		margin: 0;
		padding: 0;
	}
	ul{
		padding-top: 15px;
		padding-bottom: 60px;
	}
	li{
		margin-bottom: 4px;
		height: 38px;
		display: block;
	}
	li p{
		font-size: 2.4em;
		font-weight: 100;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		line-height: normal;
		margin-right: 70px;
		line-height: 30px;
		@media @widedesktop{
			font-size: 3em;
		}
	}
	li span{
		float: right;
		height: 38px;
		width: 75px;
		line-height: 30px;
		font-size: 1.6em;
		text-align: center;
		background-color: #b5b5b5;
	}
	li.active p{
		color: @primary_color;
	}
	li.active span{
		color: @primary_color;
		font-size: 2em;
		font-weight: 100;
		background-color: #fff;
		&:before{
			content: "x";
		}
	}
}
.product_request {
	padding-top: 15px;
	textarea{
		width: 100%;
		height: 260px;
		font-size: 16px;
		outline: none;
		padding: 20px;
		resize:none;
		margin-bottom: 15px;
		border:none;
		background-color: #dedede;
	}
	.btn{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
// Other products
.otherprod_title{
	border-top: 1px solid @primary_color;
	border-bottom: 1px solid @primary_color;
	text-transform: uppercase;
	font-size: 18px;
	padding: 40px 0;
	text-align: center;
}
.owl-carousel{
	.owl-prev,.owl-next{
		position: absolute;
		top: 48%;
	}
	.owl-prev{left: 0;}
	.owl-next{right: 0;}
}

.otherprod_slider{
	position: relative;
	border-bottom: 4px solid @primary_color;
	.owl-prev,.owl-next{
		width: 50px;
		height: 72px;
		display: block;
		margin-top: -36px;
		top: 50%;
		font-size: 0;
		text-indent: -99999em;
		background-repeat: no-repeat;
		background-size: 50px 72px;
		opacity: .4;
		&:hover{
			opacity: 1;
		}
	}
	.owl-prev{
		background-image: url(../img/owl_prev.png);
	}
	.owl-next{
		background-image: url(../img/owl_next.png);
	}
	.item{
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		text-align: center;
		padding: 50px 20px 120px;
		transition:all 0.2s ease 0s;
		&:hover{
			border-color: @primary_color;
			background-color: #e9f0d8;
		}
		p {
			margin-bottom: 8px;
			line-height: normal;
		}
		p.otherprod_thumb{
			margin: 0 auto 20px;
			width: 70%;
		}
		img{
			width: 100%;
			height: auto;
			vertical-align: bottom;
		}
		.otherprod_name{
			text-transform: uppercase;
			font-weight: 400;
			font-size: 30px;
			white-space: nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
			margin-top: 10px;
			a{
				color: @default_txtcolor;
			}
			a:hover{
				color: @primary_color;
			}
		}
		.otherprod_price{
			font-weight: 100;
			font-size: 30px;
		}
		.btn_shopnow{
			position: absolute;
			left:0;
			right: 0;
			bottom: 218px;
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
			display: none;
		}
		.btn_shopnow .btn{
			text-transform: uppercase;
			line-height: 50px;
			padding: 0;
			text-align: center;
			width: 175px;
		}
		&:hover .btn_shopnow{
			display: block;
		}
	}
}

// Blog
// ---------------
#blog .navbar{margin-top: 0;padding-top: 10px;}
#blog .navbar .container .navbar-brand{
	width: 66px;
	height: 50px;
	top: 0;
	margin-right: 15px;
	background-image: url(../img/small_logo.png);
}
.blogpage_banner{
	height: 200px;
	background-image: url(../img/blog_banner.jpg);
	background-position: center 75%;
	background-size:cover;
	h2{
		color: @primary_color;
		font-weight: bold;
		.fontsize(50);
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		padding-top: 1.8em;
	}
	ul,li{
		margin: 0;
		padding: 0;
	}
	ul{
		width: 100%;
		padding-top: 1em;
		text-align: center;
	}
	li{display: inline;margin: 0 2em;}
	li a{
		color: #fff;
		.fontsize(20);
		text-transform: uppercase;
	}
}
.blog_leadtext{
	background-color: #fff;
	height: 359px;
	h2{
		margin: 0;
		padding: 10rem 0 0;
		span{display: block;text-transform: uppercase;text-align: center;}
		span.text1{
			font-size: 45px;
			font-size: 4.5rem;
			font-weight: bold;
		}
		span.text2{
			font-weight: 100;
			font-size: 71px;
			font-size: 7.1rem;
			margin-top: -0.52em;
			letter-spacing: 0.01em;
		}
		span.text3{
			font-size: 77px;
			font-size: 7.7rem;
			color: @primary_color;
			margin-top: -0.519em;
		}
	}
}
.blog_thumbnail{padding: 0;}
.blog_thumbnail img{
	width: 100%;
}
.blog_excerpt{
	padding:6.5em 10.5em;
	.blog_excerpt_text{
		.fontsize(24);
		font-weight: 100;
		text-align: justify;
	}
	h2{
		color: @primary_color;
		.fontsize(30);
		text-transform: uppercase;
		font-weight: 300;
		margin: 0;
		padding: 0 0 1em;
	}
}
.blog_article .row{
	background-color: #e5e5e5;
	&:nth-child(even){
		.blog_thumbnail{float: right;}
		.blog_excerpt{float: left;}
	}
}

.blogpage_bottom{
	padding-top: 10em;
	h3{
		.fontsize(30);
		text-transform: uppercase;
		color: @primary_color;
		font-weight: 300;
		margin:0 0 0.667em;
		text-align: center;
	}
}
